html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}


@font-face {
    font-family: gameFont3;
    src: url('./font/ale-and-wenches-bb.ttf');
}
